# =========================
# Maven
# =========================
target/
.mvn/wrapper/maven-wrapper.jar

# Keep target folders inside src if needed
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# Spring Boot
# =========================
HELP.md

# Logs
*.log

# Application secrets
application.properties
application.yml

# =========================
# STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Custom Uploads
# =========================
uploads/


#do not add
#mvnw
#.mvn
#mvnw.cmd
#.gitattributes